<!DOCTYPE html>
<html>
<head>
    <title>قالب شرکتی تارا</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="fa">
    <meta name="document-type" content="Public">
    <meta name="document-rating" content="General">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ofoghata">

    <link href="~/client/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/client/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="~/client/css/animate.css" rel="stylesheet">
    <link href="~/client/css/Style.css" rel="stylesheet">
    <link href="~/client/css/owl-carousel\owl.carousel.min.css" rel="stylesheet">
    <link href="~/client/css/sina-nav.min.css" rel="stylesheet">
    <script src="~/client/js/jquery-2.0.0.min.js"></script>
    <script src="~/client/js/bootstrap.min.js"></script>
     <script src="~/client/Font/font.css"></script>

    <script src="~/client/js/owl.carousel.js"></script>
    <script src="~/client/js/custom.js"></script>
    <script src="~/client/js/sina-nav.min.js"></script>

    <!--<link href="Css/all.min.css" rel="stylesheet" />
    <script src="Js/all.min.js"></script>-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" style='font-family: "Montserrat",sans-serif !important; '>

    <div id="fixed-social">
        <div>
            <a href="#" class="fixed-linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <a href="#" class="fixed-instagrem" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>

        <div>
            <a href="#" class="fixed-facebook" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div>
            <a href="#" class="fixed-twitter" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div>
            <a href="#" class="fixed-whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>


    </div>
  @RenderBody()
 


    <footer class="rel-footer mt-5">
        <div id="footer-content">
            <div class="container">
                <div class="row pt-4 mx-2">
                    <div class="col-lg-2 col-sm-6 py-3 order-lg-1 order-1">
                        <h5 class="IRANSansWeb_Medium"> لینک های سریع : </h5>
                        <ul>
                            <li>
                                <a href="Ourteam.html" target="_blank" title="">مدیران و معاونان</a>
                            </li>
                            <li>
                                <a href="Blog.html" target="_blank" title="">اخبار و رویدادها</a>
                            </li>
                            <li>
                                <a href="Blogdetails.html" target="_blank" title="">جزئیات اخبار </a>
                            </li>
                            <li>
                                <a href="Component.html" target="_blank" title="">المان ها</a>
                            </li>
                            <li>
                                <a href="Features.html" target="_blank" title="">ویژگی ها </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-sm-6 py-3 order-lg-2  order-3">
                        <h5 class="IRANSansWeb_Medium">پیوندها : </h5>
                        <ul>
                            <li>
                                <a href="Faq.html" target="_blank" title="">سوالات متداول</a>
                            </li>

                            <li>
                                <a href="Login.html" target="_blank" title="">ورود</a>
                            </li>
                            <li>
                                <a href="Register.html" target="_blank" title="">عضویت</a>
                            </li>
                            <li>
                                <a href="AboutUs.html" target="_blank" title="">درباره ما</a>
                            </li>
                            <li>
                                <a href="ContactUs.html" target="_blank" title="">تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-6 pr-lg-4 py-3 IRANSansWeb_FaNum  order-lg-3  order-2">
                        <h5 class="IRANSansWeb_Medium"> ارتباط با ما : </h5>
                        <p><i class="fas fa-2x fa-map-marker-alt ml-2"></i>آدرس : شهرستان گنبدکاووس - خیابان آزادگان - میدان فراغی  </p>
                        <p><i class="fas fa-2x fa-phone ml-2"></i>تلفن : 01733224455</p>
                        <p><i class="fas fa-2x fa-mobile-alt ml-2"></i>تلفن همراه : 09301234567</p>
                        <p><i class="fas fa-2x fa-fax ml-2"></i>نمابر : 09301234567</p>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-sm-4 py-3 order-lg-4 order-4">
                        <h5 class="IRANSansWeb_Medium">دانلود اپلیکیشن : </h5>
                        <div class="d-flex flex-column">
                            <a href="#"><img src="~/client/images/googleplay.png" class="p-2"></a>
                            <a href="#"><img src="~/client/images/bazar.png" class="p-2"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="footer-copyright">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                   <p class="text-white ">
                            کلیه حقوق این قالب برای طراح محفوظ می باشد - عرضه شده تنها در راست چین .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    
    <script src="~/client/js/sina-nav.min.js"></script>

</body>
</html>
