<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
			<aside class="app-sidebar ">
				<div class="sidebar-img">
					<a class="navbar-brand" href="index-ldf-2.html"><img alt="..." class="navbar-brand-img main-logo" src="~/admin/assets/img/brand/logolight1.png"> <img alt="..." class="navbar-brand-img logo" src="~/admin/assets/img/brand/logo.png"></a>
					<ul class="side-menu">
						<li class="slide">
							<a class="side-menu__item active" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-home"></i><span class="side-menu__label">سپرده</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a class="slide-item" href="index-ldf-2.html">دریافت اطلاعات نام مشتری</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-social.html">دریافت لیست سپرده ها</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-marketing.html">دریافت جزییات سپرده</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-it.html">دریافت صورت حساب</a>
								</li>
								<li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">دریافت نام صاحب سپرده</a>
								</li>

                                	<li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">نرخ سود سپرده</a>
								</li>
                                	<li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">تبدیل شماره سپرده به شبا</a>
								</li>
                                	<li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">افتتاح سپرده</a>
								</li>
                                <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">انطباق کد ملی و حساب / شبا</a>
								</li>

                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">مسدودی سپرده وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">رفع مسدودی سپرده وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">انتقال مبلغ مسدودی وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">سرویس افزایش مبلغ مسدودی وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">سرویس گزارش مسدودی های وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">ثبت قرارداد مشتری وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">انتساب مشتری به کسب و کار وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">انتساب سپرده وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">گزارش سپرده های در اختیار وکالتی</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">فعال سازی سپرده وکالتی در اختیار</a>
								</li>
                                    <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html">انتقال وجه وکالتی</a>
								</li>
                                   <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> خلاصه صورتحساب روزانه سپرده </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> فهرست انواع سپرده های قابل افتتاح </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> تطبیق شماره موبایل و حساب / شبا </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> پرداخت قبض با شناسه </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> میانگین موجودی </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> پرداخت صورت حساب پرونده اعتباری </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> انتقال وجه تجمیعی </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> دریافت صورتحساب های پرونده اعتباری </a>
								</li>
                                  <li>
									<a class="slide-item" href="dashboard-cryptocurrency.html"> فهرست پرونده های اعتباری </a>
								</li>




							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-grid"></i><span class="side-menu__label">انتقال وجه</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="/admin/MoneyTransfer/card" class="slide-item">کارت </a>
								</li>
								<li>
									<a href="/admin/MoneyTransfer/paya" class="slide-item"> بین بانکی - پایا</a>
								</li>
								<li>
									<a href="/admin/MoneyTransfer/satna" class="slide-item"> بین بانکی - ساتنا</a>
								</li>
								<li>
									<a href="/admin/MoneyTransfer/internal" class="slide-item">داخلی</a>
								</li>
								
							</ul>
						</li>

						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-edit"></i><span class="side-menu__label">قبض و شارژ</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="forms.html" class="slide-item">قبض </a>
								</li>
								<li>
									<a href="form-select2.html" class="slide-item">شارژ </a>
								</li>
								
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-map"></i><span class="side-menu__label">نقشه
									ها</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="maps.html" class="slide-item">نقشه گوگل</a>
								</li>
								<li>
									<a href="vector-map.html" class="slide-item">نقشه برداری</a>
								</li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-file-text"></i><span class="side-menu__label">جداول</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="tables.html" class="slide-item">جدول ساده</a>
								</li>
								<li>
									<a href="datatable.html" class="slide-item">جدول داده</a>
								</li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-bar-chart-2"></i><span class="side-menu__label">نمودار
									ها</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="chart-flot.html" class="slide-item">نمودار Flot</a>
								</li>
								<li>
									<a href="chart-high.html" class="slide-item">نمودار High</a>
								</li>
								<li>
									<a href="charts-chartjs.html" class="slide-item">نمودار Chartjs</a>
								</li>
								<li>
									<a href="charts-echarts.html" class="slide-item">نمودار Echart</a>
								</li>
								<li>
									<a href="charts-morris.html" class="slide-item">نمودار Morris</a>
								</li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-folder"></i><span class="side-menu__label">صفحات</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="user-profile.html" class="slide-item">پروفایل کاربر</a>
								</li>
								<li>
									<a href="email-inbox.html" class="slide-item">صندوق دریافت ایمیل</a>
								</li>
								<li>
									<a href="email-compose.html" class="slide-item">ایمیل</a>
								</li>
								<li>
									<a href="gallery.html" class="slide-item">گالری</a>
								</li>
								<li>
									<a href="invoice.html" class="slide-item">فاکتور</a>
								</li>
								<li>
									<a href="pricing.html" class="slide-item">جدول فروش</a>
								</li>
								<li>
									<a href="empty.html" class="slide-item">خالی</a>
								</li>
								<li>
									<a href="under-construction.html" class="slide-item">در دست ساخت</a>
								</li>
								<li>
									<a href="400.html" class="slide-item">خطا 400</a>
								</li>
								<li>
									<a href="404.html" class="slide-item">خطا 404</a>
								</li>
								<li>
									<a href="500.html" class="slide-item">خطا 500</a>
								</li>
								<li>
									<a href="505.html" class="slide-item">خطا 505</a>
								</li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-italic"></i><span class="side-menu__label">آیکون
									ها</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="icons-feather.html" class="slide-item">آیکون های Feather</a>
								</li>
								<li>
									<a href="icons-fontawesome.html" class="slide-item">آیکون های فونت آوسوم</a>
								</li>
								<li>
									<a href="icons-ion.html" class="slide-item">آیکون های Ion</a>
								</li>
								<li>
									<a href="icons-materialdesign.html" class="slide-item">آیکون های Materialdesign</a>
								</li>
								<li>
									<a href="icons-nucleo.html" class="slide-item">آیکون های Nucleo</a>
								</li>
								<li>
									<a href="icons-pe7.html" class="slide-item">آیکون های pe7</a>
								</li>
								<li>
									<a href="icons-simpleline.html" class="slide-item">آیکون های Simpleline</a>
								</li>
								<li>
									<a href="icons-themify.html" class="slide-item">آیکون های Themify</a>
								</li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-underline"></i><span class="side-menu__label">عناصر
									Ui</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="accordion.html" class="slide-item">آکاردئون</a>
								</li>
								<li>
									<a href="alerts.html" class="slide-item">هشدار</a>
								</li>
								<li>
									<a href="badges.html" class="slide-item">نشان</a>
								</li>
								<li>
									<a href="buttons.html" class="slide-item">دکمه</a>
								</li>
								<li>
									<a href="carousel.html" class="slide-item">اسلایدر تصاویر</a>
								</li>
								<li>
									<a href="colors.html" class="slide-item">رنگ ها</a>
								</li>
								<li>
									<a href="dropdowns.html" class="slide-item">منوی کشویی</a>
								</li>
								<li>
									<a href="grids.html" class="slide-item">سیستم شبکه بندی</a>
								</li>
								<li>
									<a href="modal.html" class="slide-item">مدال</a>
								</li>
								<li>
									<a href="navigation.html" class="slide-item">مسیریابی (Navigation)</a>
								</li>
								<li>
									<a href="pagination.html" class="slide-item">صفحه بندی</a>
								</li>
								<li>
									<a href="popovers.html" class="slide-item">کادر محتوا (Popovers)</a>
								</li>
								<li>
									<a href="progress.html" class="slide-item">نوار پیشرفت</a>
								</li>
								<li>
									<a href="tabs.html" class="slide-item">تب ها</a>
								</li>
								<li>
									<a href="tooltip.html" class="slide-item">راهنمای ابزار (Tooltip)</a>
								</li>
								<li>
									<a href="typography.html" class="slide-item">تایپو گرافی</a>
								</li>
							</ul>
						</li>

						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-user"></i><span class="side-menu__label">حساب
									کاربری</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="login.html" class="slide-item">ورود</a>
								</li>
								<li>
									<a href="register.html" class="slide-item">ثبت نام</a>
								</li>
								<li>
									<a href="forgot.html" class="slide-item">فراموشی رمز عبور</a>
								</li>
								<li>
									<a href="lockscreen.html" class="slide-item">صفحه قفل</a>
								</li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fe fe-shopping-cart"></i><span class="side-menu__label">فروشگاه</span><i class="angle fa fa fa-angle-down"></i></a>
							<ul class="slide-menu">
								<li>
									<a href="shop.html" class="slide-item">محصولات</a>
								</li>
								<li>
									<a href="cart.html" class="slide-item">سبد خرید</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>